{% extends "base.html" %}
{% block title %}Caso {{ causa.nombre_caso }}{% endblock %}
{% block header %} 
<link rel="stylesheet" href="/datos/css/ui.tabs.css" type="text/css" media="screen">

<script type="text/javascript" src="/datos/js/jquery/ui.tabs.js"></script>
<script>

$(document).ready(function() {

//oculto algunas layers
  $('#masinfo').hide();
  $('#form-seguimiento').hide();
 
 //armo las pestañas
    $("#tabs > ul").tabs();
 
 // toggles formulario seguimiento
  $('a#form-toggle').click(function() {
      $('#form-seguimiento').toggle(400);
	return false;
  });


 // toggles masinfo
  $('a#masinfo-toggle').click(function() {
      $('#masinfo').toggle();
      if ($(this).text()=="Ver detalles"){
          $(this).text("Ocultar detalles");
       }else{
          $(this).text("Ver detalles");
     }

	return false;
  });  
  
  

  
});

</script>

 
{% endblock %}

{% block contenido %}

{% if causa %}

					<h2>Caso {{ causa.nombre_caso }} <a href="/admin/seguimiento/caso/{{ causa.id }}/" class="peque">Editar</a></h2> {{ causa.caratula }} 
					<div class="derecha"><a href="#" id="masinfo-toggle" class="peque">Ver detalles</a></div>
                    <div id="masinfo">
                    <table>

                    <tr><td><strong>Juzgado:</strong></td><td> <a href="/juzgados/{{ causa.juzgado.id }}/" > {{ causa.juzgado }} </a></td></tr>
                    <tr><td><strong>Fiscal:</strong></td><td> <a href="/fiscales/{{ causa.fiscal.id }}/" > {{ causa.fiscal }} </a></td></tr>

                   <tr><td valign="top"><strong>Querellante/s:</strong></td> <td> <ul>{% for querellante in listas.querellantes %} <li> <a href="/querellantes/{{ querellante.id }}/" > {{ querellante }} </a></li>{% endfor %}</ul></td></tr>
                    <tr><td valign="top"><strong>Imputados/s:</strong></td> <td> <ul>{% for imputado in listas.imputados %} <li><a href="/imputados/{{ imputado.id }}/" > {{ imputado }} </a></li>{% endfor %}</ul></td></tr>                    
                    <tr><td valign="top"><strong>Jovenes/s:</strong></td> <td> <ul>{% for joven in listas.jovenes %} <li><a href="/jovenes/{{ joven.id }}/" > {{ joven }} </a></li>{% endfor %}</ul></td></tr>                    
                    </table>

                					

                    </div>
                    

                

        <div id="tabs" >
            <ul>

                <li><a href="#tab-1"><span>Seguimiento</span></a></li>
                <li><a href="#tab-2"><span>Punteo</span></a></li>
                <li><a href="#tab-3"><span>Incidentes</span></a></li>
            </ul>

            {# pestaña 1: Seguimiento #}            
            <div id="tab-1">
                
                <a id="form-toggle" href="#">Agregar nuevo comentario de seguimiento</a><br>

                <div id="form-seguimiento">
                <form id="seguimiento" method="post" action="." class="formulario">
                {{ form_seguimiento.as_p }}
                                <input type="hidden" name="tipo" value="seguimiento" />
                <p><input type="submit" value="Enviar" class="submit" /></p>
                </form>
                </div>
                
                
                {% for seguimiento in seguimientos %}
                <div class="box">
					<div class="boxContent">
                            <div class="tit_comentario">Anotado por <strong>{{ seguimiento.creado_por }}</strong> el <strong>{{seguimiento.fecha_ingreso|date:"j/m/Y" }}</strong> sobre la foja <strong>{{ seguimiento.foja}}</strong>. Catalogado como <strong>{{ seguimiento.categoria }}</strong>.</div>
                <p>{{ seguimiento.comentario }}</p>
					</div>
				</div>
                 {% endfor %}   
            </div>
            
            {# comienza la pestaña 2: Punteo #}
            
            <div id="tab-2">

                <div class="resumen">
                
                {{ causa.punteo }}
                
                <div id="form-punteo">
                <form id="seguimiento" method="post" action="." class="formulario">
                
                {{ form_punteo.as_p }}
                
                
                <input type="hidden" name="tipo" value="punteo" />
                <p><input type="submit" value="Enviar" class="submit"></p>
                </form>
                </div>
                
                
                
                
                
                </div>

            </div>
            <div id="tab-3">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </div>
            
        </div>

                

               
                
                
                



{% else %}
    <p>No existe este caso.</p>
{% endif %}

{% endblock %}

