{% extends "admin/base_site.html" %}

{% block title %}Caso: "{{ caso.nombre_caso }}" {% endblock %}

{% block breadcrumbs %} <div class="breadcrumbs"><a href="../../../">Inicio</a> › <a href="../">Casos</a> › {{ caso.nombre_caso }} </div>{% endblock %}


{% block content %}
<div id="content-main">
  <h1>Caso: "{{ caso.nombre_caso }}"</h1>

    

{% if caso %}
<div class="module">
<ul class="object-tools">
<li>
<a class="historylink" href="./?edit=1">Modificar</a>
</li>
</ul>


    <h2>Detalles</h2> 

    <div id="masinfo">
    <table>

    <tr><td><strong>Carátula:</strong></td><td>  {{ caso.caratula }} </a></td></tr>
    <tr><td><strong>Inicio:</strong></td><td>  {{ caso.fecha_ingreso|date:"j F Y H:i" }} </a></td></tr>
    
    <tr><td><strong>Juzgado:</strong></td><td>{%if caso.juzgado %} <a href="/admin/casos/juzgado/{{ caso.juzgado.id }}/" > {{ caso.juzgado }} </a>{% endif %}</td></tr>
    <tr><td><strong>Fiscal:</strong></td><td> {%if caso.fiscal %}<a href="/admin/casos/fiscal/{{ caso.fiscal.id }}/" > {{ caso.fiscal }} </a>{% endif %}</td></tr>

    <tr><td valign="top"><strong>Querellante/s:</strong></td> <td> <ul>{% for querellante in listas.querellantes %} <li> <a href="/admin/casos/querellante/{{ querellante.id }}/" > {{ querellante }} </a></li>{% endfor %}</ul></td></tr>
    <tr><td valign="top"><strong>Imputados/s:</strong></td> <td> <ul>{% for imputado in listas.imputados %} <li><a href="/admin/casos/imputado/{{ imputado.id }}/" > {{ imputado }} </a></li>{% endfor %}</ul></td></tr>                    
    <tr><td valign="top"><strong>Jovenes/s:</strong></td> <td> <ul>{% for joven in listas.jovenes %} <li><a href="/admin/casos/joven/{{ joven.id }}/" > {{ joven }} </a></li>{% endfor %}</ul></td></tr>                    
    <tr><td valign="top"><strong>Obeservaciones:</strong></td> <td> {{ caso.observaciones|safe }}</td></tr>                    
    
    </table>

</div>
</div>
{%  endif %}

    

    
    
    <div class="module">
            <table>
            <caption>Opciones</caption>
                <tbody><tr>
                    <th scope="row"><a href="/admin/seguimiento/seguimiento/?causa__id__exact={{ caso.id }}">Seguimientos</a></th>
                
                    <td><a class="addlink" href="/admin/seguimiento/seguimiento/add/?creado_por_id={{ user.id }}&causa_id={{ caso.id }}">Agregar</a></td>
                
                
                </tr>
            
                <tr>
                
                    <th scope="row"><a href="/admin/punteo/parrafopunteo/?caso__id__exact={{ caso.id }}">Punteo</a></th>
                
    
                
                    <td><a class="addlink" href="/admin/punteo/parrafopunteo/add/?creado_por_id={{ user.id }}&caso_id={{ caso.id }}">Agregar</a></td>
                
    
                

                
                </tr>
            
            </tbody></table>
            </div>
    
    

</div>
{% endblock %}
